<div class="restaurants">


<h1 class="title">Nibbles and Crumbs</h1>
<div class="sectionrestaurants">
<p>Please choose a restaurant to review</p>


<% @restaurants.each do |restaurant| %>

   <li> <%=link_to restaurant.name, restaurant_path(restaurant)%> </li>

<% end %>
</div>
</div>






